* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #0b0b0f;
  color: #ffffff;
}

.layout {
  padding: 100px 120px;
  max-width: 1000px;
}

.layout h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 18px;
}

.layout h1::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #daef07;
  margin-top: 16px;
}

.layout p {
  margin-top: 24px;
  font-size: 19px;
  line-height: 1.7;
  color: #c7c7d1;
  max-width: 650px;
}
